* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: url("./pondlillys2.jpg") center/ cover no-repeat;
  z-index: 1;
}
.card {
  height: 50rem;
  width: 50rem;
  background: url("./meditation.png") center/cover no-repeat;
  position: absolute;
  z-index: 2;
}
.avatar {
  position: relative;
  top: 9.3%;
  left: 10%;
  height: 81%;
  width: 81%;
  background: url("./person.svg") center no-repeat, #6e7376;

  border-radius: 50%;
  z-index: 3;
}
