*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  color: #3b4fd2;
  background: #eef1da;
}
/* phone */
.container {
  background-color: rgb(248, 244, 244);
  height: 42rem;
  width: 20rem;
  border-radius: 35px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  /* groove and box shadow for roundish outer edge */
  box-shadow: 1px 1px 5px #555;
  /* this tilts phone-  */
  /* transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(8deg) rotateY(355deg)
    rotateZ(-13deg) translateX(-5px) translateY(-4px) translateZ(-17px)
    skewX(0deg) skewY(0deg); */
  /*  a little less tilt */
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(4deg) rotateY(357.5deg)
    rotateZ(-6.5deg) translateX(-2.5px) translateY(-2px) translateZ(-8.5px)
    skewX(0deg) skewY(0deg);
  /* shadow around phone */
  filter: drop-shadow(40px 31px 15px #7c7b7b);
}
/* works with transform in container 
this will kick out the bottom of the phone a bit */
.wrapper {
  /* perspective: 1474px;
  perspective-origin: 54% 192%; */
}
/* phone screen */
.card {
  /* making the card flex box for stuff withing it */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* groove and box shadow for  sunken effect around edge of phone screen */
  border-style: groove;
  box-shadow: 1px 1px 5px #555 inset;
  /* can add an image here  */
  /* background: url("./estes.jpg"); */
  height: 45rem;
  width: 18rem;
  border-radius: 25px;
  margin-bottom: 1em;
  position: relative;
}
.line {
  /* push to bottom of the card  */
  position: absolute;
  bottom: 0;
}
.circle-small {
  margin-bottom: 5px;
}
.what,
.date,
.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}
img {
  height: 60px;
  width: 60px;
  margin-top: 10px;
  fill: #c7d9dd;
}
button {
  margin: 40px;
  font-size: 30px;
  border-radius: 5px;
  padding: 5px;
  background: #eef1da;
  color: #3b4fd2;
}
