html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background: url("./sydney-rae.jpg") top/cover no-repeat;
}
.carousel-wrapper {
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  margin-top: 15em;
}
.carousel {
  /* width: 90vw; */
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* use this property to hide the scrollbar on firefox */
  scrollbar-width: none;
  width: 100%;
}
/*  use this pseudo class to hide the scrollbar on chrome */
.carousel::-webkit-scrollbar {
  display: none;
}
.item {
  /* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
  /* 0 0 auto. It sizes the item according to its width/height properties, but makes it fully inflexible */
  flex: 0 0 auto;

  width: calc(
    100% / 3
  ); /* Adjust this for the number of items you want visible */
  padding: 1rem;
  transition: transform 0.3s ease; /* Smooth scaling transition */
}

.item.active {
  /* transform: scale(1.1); Adjust the scale value as needed */
  transform: scale(1.3); /* Adjust the scale value as needed */
}
.left,
.right {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 5rem;
  overflow: hidden;
  z-index: 100;
}
img {
  width: 100%;
}
