*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  /* background: rgb(249, 210, 193); */
  background: linear-gradient(
    317deg,
    rgba(249, 210, 193, 1) 0%,
    rgba(252, 235, 209, 1) 100%
  );
}

.container {
  background-color: rgb(248, 244, 244);

  height: 42rem;
  width: 20rem;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  margin-top: 30px;
  border: 5px solid black;
  border-style: groove;
  /* sunken effect around edge of phone screen */
  box-shadow: 1px 1px 5px #555 inset;

  /* transform and filter  */
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(8deg) rotateY(355deg)
    rotateZ(-13deg) translateX(-5px) translateY(-4px) translateZ(-17px)
    skewX(0deg) skewY(0deg);
  filter: drop-shadow(40px 31px 15px #7c7b7b);
}
/* perspecrtive */
.wrapper {
  perspective: 1474px;
  perspective-origin: 54% 192%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45rem;
  width: 18rem;
  border-radius: 25px;
  color: #ffa8a7;
  /* border: 3px dashed #ffa8a7; */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='25' ry='25' stroke='rgb(255, 168, 167)' stroke-width='3' stroke-dasharray='3%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 25px;
}
.circle {
  margin-top: 20px;
  margin-bottom: 25px;
}
button {
  border: none;
  height: 2em;
  padding: 8px;
  padding-bottom: 25px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #f9d2c1;
  color: #fc7875;
  border-radius: 5%;
  box-shadow: 0.7px 1.4px 1.4px hsl(0deg 0% 0% / 0.48);
}
button:hover {
  box-shadow: 1.4px 2.9px 2.9px hsl(0deg 0% 0% / 0.46);
}
img {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
