/* font family non serif */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  /* color gradient top lighter than bottom */
  /* rgb(155, 205, 206) to rgb(75, 171, 187) */
  /* blend-mode */

  background: linear-gradient(rgb(155, 205, 206), rgb(75, 171, 187));
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  height: 66%;
  width: 88%;

  background: linear-gradient(
    #a3d5d6 0%,
    #a3d5d6 66%,
    #62c1d5 77%,
    #5bb6c7 80%,
    #18373c 90%
  );
  border-radius: 5px;
  /* background  4 rows #A3D5D6, #62C1D5,#5BB6C7, and #18373C */
  /* cloud color #E9E2D8  */
  /* CSS gradient */
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 5%;
}
.sports {
  display: flex;
  flex-direction: row;

  margin-top: auto;
  margin-bottom: 5%;
}
.swim,
.bike,
.run {
  padding: 50px;
  /* display: flex;
  flex-direction: row;
  margin-top: auto; */
}
.card-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #18373c;

  width: 100%;
  display: flex;
  margin-top: auto;
  margin-bottom: 2%;
}
button {
  margin: 2em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  transition: transform 0.03s;
}
button:hover {
  background-color: #a3d5d6;

  animation: engage 0.4s ease-out;
}
/* button animation sequence  */
@keyframes engage {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
