*,
html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(115, 177, 191, 0.5);
}
.navbar {
  padding-bottom: 80px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15em;
  justify-content: space-between;
  list-style-type: none;
}
.navbar ul li {
  height: 40px;
  width: 80px;
  text-align: center;
  background-color: rgb(242, 237, 237);
  padding-top: 10px;
  border-radius: 15px;
}
.navbar ul li:hover {
  background-color: rgb(35, 131, 172);
}
.navbar ul li a:hover {
  color: white;
}
a {
  text-decoration: none;
}
.container {
  height: 30em;
  width: 30em;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card img {
  height: 25em;
  width: 25em;
  border-radius: 5px;
}
.footer ul {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  list-style-type: none;
}
.soc-link img {
  transition: filter 0.3 ease;
}
.soc-link:hover img {
  /* invert: Adjusts the color to its opposite.
sepia: Applies a brownish tone, useful for color adjustment.
saturate: Increases or decreases the intensity of the color.
hue-rotate: Rotates the hue of the color wheel to match the desired tone.
brightness: Adjusts the lightness or darkness of the color.
contrast: Modifies the contrast for finer tuning. */
  filter: invert(40%) sepia(56%) saturate(396%) hue-rotate(173deg)
    brightness(92%) contrast(93%);
}
