*,
html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 248, 255, 0.1);
}
h1 {
  color: #0091ff;
}

.snowman {
  display: block;
  margin: 0 auto;
  width: 20em;
  height: auto;
}
.top,
.bottom {
  animation: top-move 1.5s linear infinite;
}
.bottom {
  animation-name: bottom-move;
}

/* Animation */
@keyframes top-move {
  from {
    stroke-dashoffset: -0.355;
  }
  to {
    stroke-dashoffset: 76.185;
  }
}
@keyframes bottom-move {
  from {
    stroke-dashoffset: 16.492;
  }
  to {
    stroke-dashoffset: -62.045;
  }
}
