*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e07a5f;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80rem;
  width: 60rem;
}
.text-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #1b4d3e;
}
.card {
  position: absolute;
  top: 20rem;
  height: 20rem;
  width: 40rem;
  color: #f1e3d3;
  background-color: rgba(105, 11, 34, 0.8);
  border-radius: 10px;
  box-shadow: 1.4px 2.7px 2.7px hsl(0deg 0% 0% / 0.46);
  filter: drop-shadow(-2px 5px 100px #000000);
  font-size: 25px;
}
h2 {
  text-align: center;
  margin-left: 1.2rem;

  margin-bottom: 5rem;
}
input {
  margin-left: 9rem;
}
