:root {
  --shadow-color: 355deg 55% 58%;
  /* --shadow-color: 321deg 58%, 67%; */
}
*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: url("./pink-fabric.png") center/cover no-repeat;
}
.container {
  position: relative;
  height: 40em;
  width: 60em;
  text-align: center;
  color: #dee5d4;
  background: url("./weights.jpg") center/contain no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
  /* https://www.geeksforgeeks.org/how-to-place-text-on-image-using-html-and-css/ */
  /* https://www.joshwcomeau.com/shadow-palette/ */
  box-shadow: -0.1px 1px 1.1px hsl(var(--shadow-color) / 0.36),
    -0.3px 3.1px 3.5px -0.8px hsl(var(--shadow-color) / 0.36),
    -0.7px 7.8px 8.8px -1.7px hsl(var(--shadow-color) / 0.36),
    -1.7px 19.1px 21.6px -2.5px hsl(var(--shadow-color) / 0.36);
}
.card {
  font-size: 25px;
  font-weight: 900;
  padding: 10px;
}
