* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f3f7fa;
  color: #4e7491;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50rem;
  height: 4rem;
  margin-bottom: 40px;
  margin-top: 40px;
}
form {
  display: flex;
  width: 100%;
  max-width: 400px;
}
input {
  flex: 1;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  background-color: #f1f1f1;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
h2 {
  margin-top: 10px;
}
.search-btn {
  padding: 10px;
  background: #4e7491;
  color: white;
  border: 1px solid grey;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.help-btn {
  width: 9rem;
  height: 3rem;
  padding: 10px;
  background: #4e7491;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
}
button:hover {
  background-color: #131313;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50rem;
  border-radius: 5px;
  border: 2px solid black;
  margin-bottom: 20px;
  min-height: 4rem;
  box-shadow: 0.5px 1px 1px hsl(0deg 0% 0% / 0.49);
}
.row-question {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 50rem;
  height: 2rem;
  margin-top: 10px;
}
.col-question {
  margin-left: 20px;
}
.col-expander {
  margin-right: 20px;
}
.col-contractor {
  margin-right: 20px;
}
.col-ans-long {
  width: 40rem;
  /* TRBL */
  margin-bottom: 10px;
  margin-left: 20px;
  border-top: grey 1px solid;
}

.short,
.long {
  /* transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out; */
  transition: opacity 0.5s linear, max-height 0.5s linear;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  pointer-events: none; /* Prevent interaction while hidden */
}
