*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background-color: black;
}
.container {
}
.card {
}
h2 {
  color: white;
  letter-spacing: 0.25rem;
}
#globe {
  filter: drop-shadow(0 0 0.25rem white);
}
