*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(27, 25, 25);
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90em;
  width: 60em;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  height: 12em;
  width: 60em;

  margin: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.col {
  height: 10em;
  width: 20em;
  border-radius: 5px;
  box-shadow: inset 0 3px 6px rgba(250, 250, 250, 0.373);
  margin: 2px;
}
[type="date"]#date-jan {
  background: #fff url("./images/snowman-solid.svg") 97% 50% no-repeat;
}
[type="date"]#date-feb {
  background: #fff url("./images/heart-solid.svg") 97% 50% no-repeat;
}
[type="date"]#date-mar {
  background: #fff url("./images/clover-solid.svg") 97% 50% no-repeat;
}
[type="date"]#date-apr {
  background: #fff url("./images/egg_24.svg") 97% 50% no-repeat;
}
[type="date"]#date-may {
  background: #fff url("./images/jet-fighter-up-solid.svg") 97% 50% no-repeat;
}
[type="date"]#date-jun {
  background: #fff url("./images/emoji_nature_24.svg") 97% 50% no-repeat;
}
[type="date"]#date-jul {
  background: #fff url("./images/flag-usa-solid.svg") 97% 50% no-repeat;
}
[type="date"]#date-aug {
  background: #fff url("./images/umbrella-beach-solid.svg") 97% 50% no-repeat;
}
[type="date"]#date-sep {
  background: #fff url("./images/worker24.svg") 97% 50% no-repeat;
}
[type="date"]#date-oct {
  background: #fff url("./images/skull_24.svg") 97% 50% no-repeat;
}
[type="date"]#date-nov {
  background: #fff url("./images/wheat-awn-solid.svg") 97% 50% no-repeat;
}
[type="date"]#date-dec {
  background: #fff url("./images/candy-cane-solid.svg") 97% 50% no-repeat;
}
/* remove default */
[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
label {
  display: block;
  margin-bottom: 15px;
}

input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 190px;
  height: 30px;
}
