@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #000204; */
  background: #57bb86;
  color: #fff;
  z-index: 2;
  /* transition the on click menu open */
  transition: 0.5s;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: end;
  justify-content: end;
}
.container.active {
  right: 200px;
}
.toggle {
  position: relative;
  width: 120px;
  height: 120px;
  background: url("./menu-up.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}
.toggle.active {
  background: url("./menu-down.svg");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

.card {
  position: relative;
  z-index: 10;
}

.card p {
  font-size: 1.1em;
  margin-left: 120px;
  padding-left: 50px;
  font-weight: 400;
  max-width: 500px;
}

.nav-menu-expanded {
  position: absolute;
  top: 0;
  right: 0px;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  background: #57bb86;
}
.nav-menu-expanded ul {
  position: relative;
  /* change the color of li svgs */
  filter: invert(1);
}
/* put the text in front of the li */
.nav-menu-expanded ul li {
  text-align: right;
  direction: rtl;
  padding-right: 30px;
}

/* list style type should be an icon representing the text  */
.nav-menu-expanded ul li:nth-child(1) {
  list-style: url("./svgResources/envelope.svg");
}
.nav-menu-expanded ul li:nth-child(2) {
  list-style: url("./svgResources/calendar2-event.svg");
}
.nav-menu-expanded ul li:nth-child(3) {
  list-style: url("./svgResources/speedometer.svg");
}
.nav-menu-expanded ul li:nth-child(4) {
  list-style: url("./svgResources/person-bounding-box.svg");
}
.nav-menu-expanded ul li:nth-child(5) {
  list-style: url("./svgResources/gear.svg");
}
.nav-menu-expanded ul li:nth-child(6) {
  list-style: url("./svgResources/file-earmark-person-fill.svg");
}

.nav-menu-expanded ul li a {
  text-decoration: none;
  font-size: 24px;
}
