*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("./bear.jpg") bottom/cover no-repeat;
  color: #7d3f22;
}
.card {
  width: 60%;
  margin-left: 2rem;
  border-bottom: solid#EBD68A;
}
h1 {
  font-size: 5em;
}
span {
  font-size: 4em;
  margin-left: 15px;
}
