*,
html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: black;

  /* gradiant top to bottom #1A1A1A to #0A0A0A */
  background: linear-gradient(to bottom, #1e1e1e, #000000);
}
.container {
  background: url("./dashbackground.jpg") center no-repeat;
  /* making the div a little less boxy would like edges more sommt  */
  border-radius: 52% 48% 50% 50% / 69% 67% 33% 31%;
  height: 40em;
  width: 60em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #57a594;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 3em;

  height: 20em;
  width: 45em;
}
.gage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15em;
  width: 15em;
  border-radius: 50%;
}
.middle {
  margin-top: 2em;
  height: 35em;
  width: 35em;
}
.left,
.right {
  height: 13em;
  width: 13em;
  margin-top: 10rem;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
