@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Glitch&display=swap");

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 200;
  font-style: normal;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  overflow: hidden;
  background: url("./louis-armstrong.jpg") center/cover no-repeat;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.card {
  margin: 3rem;
  height: 30rem;
  width: 30rem;
}
