*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: url("./asfalt-dark.png");
}
/* phone */
.container {
  background-color: rgb(248, 244, 244);
  height: 42rem;
  width: 20rem;
  border-radius: 35px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  box-shadow: 1px 1px 5px #555;
  /* tilt phone  */
  /* transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(8deg) rotateY(355deg)
    rotateZ(-13deg) translateX(-5px) translateY(-4px) translateZ(-17px)
    skewX(0deg) skewY(0deg); */
  /* shadow around phone */
  filter: drop-shadow(40px 31px 15px #000000);
}
/* works with transform in container 
this will kick out the bottom of the phone a bit */
.wrapper {
  perspective: 1474px;
  perspective-origin: 54% 192%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: groove;
  box-shadow: 1px 1px 5px #555 inset;
  height: 45rem;
  width: 18rem;
  border-radius: 25px;
  margin-bottom: 1em;
  /* position: relative; */
}
.line {
  transform: rotate(90deg);
  position: absolute;
  bottom: 0;
}
.circle-small {
  margin-bottom: 5px;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-left: 20px;
  /* postion relative so the double cir icon can be over the input divs */
  position: relative;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 155px;
}
label {
  font-size: 15px;
}
input[type="text"],
input[type="date"],
input[type="number"] {
  padding: 12px 10px;
  margin-top: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}
input[type="text"] {
  font-size: 20px;
  font-weight: 600;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
input[type="reset"],
input[type="submit"] {
  width: 48%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
/* double circle overairport divs */
.switch {
  position: absolute; /* Allows the image to be freely positioned */
  top: 78px; /* Adjust the vertical position of the SVG */
  left: 88px; /* Adjust the horizontal position of the SVG */
  width: 40px; /* Adjust width as necessary */
  height: 40px; /* Adjust height as necessary */
  cursor: pointer; /* Optional: makes the SVG clickable */
  z-index: 1; /* Ensures the SVG is above other elements */
}

/* Stack DYI cal icon  https://stackoverflow.com/questions/51945122/how-to-change-the-appearance-of-input-type-date-datepicker */
[type="date"] {
  background: #fff url("./calendar3.svg") 90% 50% no-repeat;
  /* url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat; */
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input[type="number"] {
  background: #fff url("./person.svg") 67% 50% no-repeat;
}
input[type="text"] {
  background: #fff url("./airplane-engines.svg") 77% 50% no-repeat;
}

path {
  transform: rotate(90deg);
  transform-box: fill-box;
  transform-origin: center;
}
