*,
html {
  box-sizing: border-box;
}
body {
  background: center/contain no-repeat url("./409-error.jpg");
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.card {
  height: 30em;
  width: 30em;
  color: #d6dfca;
  margin-bottom: 60px;
}
.code {
  text-align: center;
}
