*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: url("./images/purple-blobs.jpg"),
    linear-gradient(90deg, #f1f3ff 0%, #d5d7e4 100%);
    background-blend-mode: overlay;
 
.container {
  background-color: rgb(248, 244, 244);
  height: 42rem;
  width: 20rem;
  border-radius: 35px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  box-shadow: 1px 1px 5px #555;
  /* rotate and shadow around phone */
  /* transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(8deg) rotateY(355deg)
    rotateZ(-13deg) translateX(-5px) translateY(-4px) translateZ(-17px)
    skewX(0deg) skewY(0deg); */
  filter: drop-shadow(15px  20px  9px #686868);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: groove;
  box-shadow: 1px 1px 5px #555 inset;
  /* can add image here */
  height: 45rem;
  width: 18rem;
  border-radius: 25px;
  margin-bottom: 1em;
  position: relative;
}

.line {
  position: absolute;
  bottom: 0;
}
.circle-small {
  margin-bottom: 5px;
}
.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.button {
  height: 30px;
  width: 100px;
  margin: 0 10px;
  background-color: #9a55ff;
  color: #f1f3ff;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
}
input {
  margin: 10px 0;
}

#username,
#pwd {
  width: 90%;
  height: 30px;
}
.forgot {
  margin-top: 10px;

  color: blue;
}
.forgot a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 25px;
  font-size: 10px;
}
.button-wide {
  width: 16em;
  height: 30px;
  background-color: #9a55ff;
  color: #f1f3ff;
}
.icons SVG {
  fill: #50f3b0;
}
