*,
html {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: rgb(255, 255, 255);
}
.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 60%;
  overflow: hidden;
  margin-left: 20%;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 3%;
}
.card-right,
.card-left,
.card-middle {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 8%;
  font-size: 1.5em;
}

.col {
  height: 5em;
  width: 90%;
}
.col-middle {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
.time {
  font-size: 1.5em;
  text-align: center;
}
.text {
  text-align: right;
  height: 3em;
}
.text p {
  padding: 0;
  margin: 0;
}
.text-left {
  text-align: left;
  height: 3em;
}
.text-left p {
  padding: 0;
  margin: 0;
}
.location {
  color: rgb(240, 255, 255, 0.5);
}
