*,
html {
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #d4b763;
  overflow: hidden;
  /* background: url("./apples.jpg") center/cover no-repeat fixed; */
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;

  /* https://css-tricks.com/perfect-full-page-background-image/ */
  background: url("./apples.jpg") center/cover no-repeat fixed;
}
.card-left {
  width: 63%;
  min-height: 100vh;

  background-color: rgb(125, 40, 83, 0.7);
  /* https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-right {
  width: 37%;
  min-height: 100vh;
}
button {
  background: #639f7e;
  color: #473d1f;
  border: none;
  margin-left: 30px;
  height: 30px;
  margin-top: 50px;
}
.text-left {
  text-align: center;
  width: 60%;
  line-height: 1.5em;
  z-index: 3;
}
