body {
  background-color: rgb(20, 20, 20);
  margin: 0px;
}

.side {
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
}

.side .title {
  font-family: "Montserrat", sans-serif;
  font-size: 7vw;
  font-weight: 800;
  margin: 0px 10vw;
  width: 80vw;
}

.side .fancy {
  font-family: "Permanent Marker", cursive;
  font-size: 1.8em;
  line-height: 0.6em;
}

#left-side {
  /* night */
  /* background-color: var(--left-color); */
  background: url("./night-beach.jpg") center/cover no-repeat;
  width: 60%;
  z-index: 2;
}

#left-side .title {
  color: white;
}

#left-side .fancy {
  color: #009696;
}

#right-side {
  /* day */
  background: url("./day-beach.jpg") center/cover no-repeat;
}

#right-side .title {
  color: rgb(20, 20, 20);
}

#right-side .fancy {
  color: white;
}
