@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");
.libre-bodoni {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
}
body {
  background: 
  /* linear-gradient(
      to bottom,
      rgba(9, 9, 9, 0.52),
      rgba(228, 220, 220, 0.53)
    ), */ url(./cool-owl2.jpg);
  background-position: 0% 15%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
.container {
  background-color: rgb(248, 244, 244);
  height: 45rem;
  width: 23rem;
  border-radius: 35px;
}
.eyes {
  color: #e0c353;
}
h1 {
  text-align: center;
}
.song-list {
  list-style-type: none;
}
li {
  border: 2px black solid;
  padding: 10px;
  margin: 10px;

  margin-left: 0;

  border-radius: 35px;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.three-columns {
  display: flex;
}
.r-col,
.l-col {
  width: 100%;
}
.l-col {
}
.r-col {
}
.middle-col {
  flex-shrink: 0;
}
